
    {%- assign product_tags = product.tags | join: ' ' -%}

    {% if product_tags contains 'meta-size-chart-' %}
      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          <div class="js-sizechart-lightbox" id="size-chart{{ product.id }}" style="display: none">
            <div id="printable-content" class="size-chart-wrap">
              {%- assign size_chart = tag | handle | remove: 'meta-size-chart-' -%}
              {{ pages[size_chart].content | replace: 'src', 'data-src' | replace: 'img', 'img height="500" data-sizes="auto" width="500"  class="lazyload" srcset="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ image.width }}'%20height='500'></svg>"' }}
            </div>
            <div class="bottom">
              <div class="actions">
                <a  onclick="printDiv('printable-content')" class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
                {% render 'popup-email' %}
              </div>
              <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% elsif settings.size_chart != blank %}
      <div class="js-sizechart-lightbox" id="size-chart" style="display: none">
        <div id="printable-content" class="size-chart-wrap">
        {{ pages[settings.size_chart].content | replace: 'src', 'data-src' | replace: 'img', 'img height="500" data-sizes="auto" width="500"  class="lazyload" srcset=""' }}
        </div>
        <div class="bottom">
          <div class="actions">
            <a  onclick="printDiv('printable-content')" class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
            {% render 'popup-email' %}
          </div>
          <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
        </div>
      </div>
    {% endif %}


    {% if settings.size_wig_chart != blank %}
      <div class="js-sizechart-lightbox" id="size-wig-chart" style="display: none">
        <div id="printable-content" class="size-chart-wrap">
        {{ pages[settings.size_wig_chart].content | replace: 'src', 'data-src' | replace: 'img', 'img height="500" data-sizes="auto" width="500"  class="lazyload" srcset=""' }}
        </div>
        <div class="bottom">
          <div class="actions">
            <a  onclick="printDiv('printable-content')" class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
            {% render 'popup-email' %}
          </div>
          <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
        </div>
      </div>
    {% endif %}
  
  
