{% if article != blank %}
    {% assign email_product = all_products[article.metafields.global.email_product] %}
{% elsif page.id != blank %}
    {% assign email_product = all_products[page.metafields.global.email_product] %}
{% elsif product != blank %}
    {% assign email_product = product %}
{% endif %}

{% if email_product != blank %}
<a class="capitalize modal-btn email_friend_btn" data-src="#email_friend"
    data-product_image="{{email_product.featured_image | img_url: '500x'}}" 
    data-product_title="{{email_product.title}}" 
    data-product_price="{{email_product.first_available_variant.price | money}}" 
    data-product_description="{{email_product.description | strip_html}}" 
    data-product_link="{{email_product.url | prepend: shop.url}}"
> {% render 'icon-pack' with icon: "email" %} <span>Email to a friend</span></a>
{% endif %}

<div class="email_friend js-popup" id="email_friend" style="display: none;">
    <div class="heading">
        <h2 class="text-center">{{settings.email_title}}</h2>
    </div>
    <div class="content">
        <div class="form">
            {formbuilder:49115}
        </div>
        <div class="image">
            {% render 'image-element' with 
                image: email_product.featured_image,
                alt: email_product.featured_image.alt,
            %}
            <p>{{email_product.title}}</p>
        </div>
    </div>
</div>
