{% if section.settings.show_payment_button %}
  {% assign show_payment_button = true %}
{% elsif show_payment_button_quickshop %}
  {% assign show_payment_button = true %}
{% else %}
  {% assign show_payment_button = false %}
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}


{%- assign checkout_url = '/checkout' -%}
  {% for locale in shop.enabled_locales %}
    {% if locale.primary == true %}
      {%- assign defaultLocale = locale.iso_code -%}
      {% if defaultLocale != request.locale.iso_code %}
        {%- assign checkout_url = request.locale.iso_code | append: '/checkout' -%}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="product_form init smart-payment-button--{{ show_payment_button }} {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %} product_form--{{ settings.product_form_style }}"
      id="product-form-{{ product.id }}"
      data-product-form
      data-options-size="{{ product.options.size }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-shop-currency="{{ shop.currency }}"
      data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
      data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
      data-product="{{ product | json | escape }}"
      {% if settings.limit_quantity or settings.display_inventory_left %}
        data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
      {% endif %}
      data-product-id="{{ product.id }}"
      >
  {% form 'product', product %}
  
  {% if product.metafields.global.color_product != blank %}
  <div class="color_links">
    <div class="option_title">
      Color
    </div>
    <div class="wrapper">
      {{ product.metafields.global.color_product }}
    </div>
  </div>
  {% endif %}

  {% if product.options.size > 1 %}
    <div class="select">
      <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
        {% for v in product.variants %}
          <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-featured-image="{{ v.featured_media }}" data-image="{{ v.featured_media | product_img_url: '600x' }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
        {% endfor %}
      </select>
    </div>
  {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
    <div class="select">
      <label>{{ product.options[0] }}</label>
      <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id">
        {% for v in product.variants %}
          <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-featured-image="{{ v.featured_media }}" data-image="{{ v.featured_media | product_img_url: '600x' }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
        {% endfor %}
      </select>
    </div>
  {% else %}
    <input type="hidden" name="id" value="{{ variant.id }}" />
  {% endif %}

  {% if product.metafields.global.color_html != blank %}
  <div class="static-colors">
    {% assign options = product.metafields.global.color_html | split: 'T:' %}
    {% if options.size > 1 %}
      <div class="swatch is-flex is-flex-wrap">
        <div class="option_title">Color</div>
        
        {% for option in options %}
          {% if forloop.index > 1 %}
          {% assign title = option | split: 'L:' | first %}
          {% assign link = option | split: 'L:' | last %}
          <div class="swatch-element color available">
            <a href="/products/{{link}}">
              <div class="tooltip">{{title}}</div>
              {% assign value_handle = title | handle %}
              {% assign color_name = product.vendor | handle | append: '-' | append: value_handle %}
              {% assign image_link = color_name | append: '.' | append: 'png' | file_img_url: '480x' | prepend: 'https:' %}
              <label style="background-image: url({{image_link}});"></label>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% else %}
        <div class="wrapper">
          {{ product.metafields.global.color_html }}
        </div>
      {% endif %}
  </div>
  {% endif %}
  {% if settings.product_form_style == "swatches" and product.variants.size > 1 %}
    {% assign size_status = true %}
    {% for option_value in product.options_by_name['Title'].values %}
      {% if option_value contains "Default Title" %}
        {% assign size_status = false %}
      {% else %}
        {% assign size_status = true %}
      {% endif %}
    {% endfor %}
    {% if size_status %}
    <div class="swatch_options">
      {% for option in product.options %} 
        {% include 'product-swatch',
                option: option,
                product: product
        %}
      {% endfor %}
    </div>
    {% endif %}
    
  {% endif %}

  {% if product.metafields.global.size_html != blank %}
  <div class="static-size">
    <div class="swatch_options">
      <div class="swatch is-flex is-flex-wrap">
          <div class="option_title">Size</div>
          {% assign options = product.metafields.global.size_html | split: 'T:' %}
          {% for option in options %}
            {% if forloop.index > 1 %}
              {% assign title = option | split: 'L:' | first %}
              {% assign link = option | split: 'L:' | last %}
              <div class="swatch-element available">
                <a href="/products/{{link}}">
                    <label>{{title}}</label>
                </a>
              </div>
            {% endif %}
          {% endfor %}
      </div>
  </div>
  </div>
  {% endif %}

  {% if product.available %}
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            {{ variant.inventory_quantity }} {{ items_left_text }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="purchase-details">
    {% if settings.display_product_quantity %}
      <div class="purchase-details__quantity product-quantity-box">
        <label for="quantity">{{ 'products.product.quantity' | t }}</label>
        <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
        <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
        <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
      </div>
    {% endif %}
    {% if template contains 'cart' %}
      {% if collection_handles contains 'coming-soon' %}
        <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
      {% else %}
          {%- assign variant = product.selected_or_first_available_variant -%}

          <div class="modal_price">
          {% unless product.available == false and settings.display_price == false %}
              <div class="price__container price__container--display-price-{{ settings.display_price }} {% if settings.display_price %}has-margin-right{% endif %}">
              <span content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                  <span class="current_price">
                  {% if variant.price > 0 %}
                      <span class="money">{% include 'price-element', price: variant.price %}</span>
                  {% else %}
                      {{ settings.free_price_text }}
                  {% endif %}
                  </span>
              </span>

              <span class="was_price">
                  {% if variant.price < variant.compare_at_price %}
                  <span class="money">{% include 'price-element', price: variant.compare_at_price %}</span>
                  {% endif %}
              </span>

              {% if block.settings.display_savings %}
                  <span class="sale savings">
                  {% if variant.price < variant.compare_at_price %}
                      {{ 'products.product.savings' | t }} {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{% assign compare_at = variant.compare_at_price | minus: variant.price %}{% include 'price-element', price: compare_at %}</span>)
                  {% endif %}
                  </span>
              {% endif %}
              </div>
          {% endunless %}

          <div class="sold-out__container">
              <span class="sold_out">{% if variant.available == false %}{{ settings.sold_out_text }}{% endif %}</span>
          </div>
          </div>
      {% endif %}
    {% else %}
      {% assign qty_message = '' %}
      {% for block in section.blocks %}
        {% if block.type == 'qty' %}
          {% for p_collection in product.collections %}
            {% if p_collection.handle == block.settings.collection %}
              {% assign qty_message = block.settings.qty %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if qty_message != blank %}
        <p class="qty_break_message">{% render 'qty_break' %}{{ qty_message }}</p>
      {% elsif product.metafields.global.qty_break_msg != blank %}
        <p class="qty_break_message">{% render 'qty_break' %}{{ product.metafields.global.qty_break_msg }}</p>
      {% endif %}
    {% endif %}
    
    <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }} {% if product.available == false %}product-is-unavailable{% endif %}">
      {% if settings.cart_action == 'reload_page' %}
        <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
        <input type="hidden" name="return_to" value="{{ checkout_url }}" />
      {% endif %}
      {% assign tag_string = '' %}
      {% assign cls = 'one-whole' %}
      {% for tag in product.tags %}
        {% assign tag_string = tag | downcase %}
        {% assign tag_string = tag_string | append: tag_string %}
      {% endfor %}
      
      {% unless template contains 'cart' %}
        {% if tag_string contains 'wigs' %}
          {% assign cls = 'one-half' %}
          <a data-fancybox href="javascript:;" class="button blue modal-btn {{cls}} medium-down--one-whole" data-src="#quiz-popup">Help me choose</a>
        {% endif %}
      {% endunless %}
      
      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button type="{% if settings.cart_action == 'ajax' %}button{% else %}submit{% endif %}" name="add" class="{% if settings.cart_action == 'ajax' %} ajax-submit {% endif %}action_button add_to_cart button pink {{cls}} medium-down--one-whole {% if product.available == false %}disabled{% endif %}" data-label={{ add_to_cart_label | json }}>
        <span class="text">
          {% if product.available %}{{ add_to_cart_label }}{% else %}{{ settings.sold_out_text }}{% endif %}
        </span>
        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
          <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
        </svg>
      </button>
      {% unless template contains 'cart' %}
        {% if show_payment_button %}
          {{ form | payment_button }}
        {% endif %}
      {% endunless %}
      
    </div>
    <p class="shipping_message">
      {% if product.tags contains 'GROUND ONLY' %}
      This item may only be shipped via Ground Shipping.
      {% elsif product.tags contains 'GROUND/STANDARD' %}
      This item may only be shipped via International Shipping.
      {% endif %}
    </p>
  </div>
  
{% endform %}
</div>



