<div class="vertical-menu">
  {% for link in linklists[linklist].links %}
    {% if linklists[link.handle] == empty %}
    {% assign target = '' %}
    {% assign link_url = link.url %}
      {% if link.title == 'Ecatalog' %}
        {% assign cls = 'ecatalog' %}
        {% assign target = 'target="_blank"' %}
      {% endif %}
      <li><a href="{{ link_url }}" {{target}} class="top_link {{cls}} {% if link.url == '#' %}url-deadlink{% endif %} {% if link.active %}active{% endif %}" data-dropdown-rel="{{ link.handle }}">{{ link.title }}</a></li>
    {% else %}
      <li class="sublink"><a data-no-instant href="{{ link.url }}" class="dropdown_link--vertical {% if link.url == '#' %}url-deadlink{% endif %} {% if link.active %}active{% endif %}" data-dropdown-rel="{{ link.handle }}">{{ link.title }} <span class="icon-down-arrow"></span></a>
        <ul class="vertical-menu_submenu">
          {% for link in linklists[link.handle].links %}
            {% if linklists[link.handle] == empty %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
            <li class="sublink"><a data-no-instant href="{{ link.url }}" class="{% if link.url == '#' %}url-deadlink{% endif %}">{{ link.title }} <span class="right icon-down-arrow"></span></a>
              <ul class="vertical-menu_sub-submenu">
                {% for link in linklists[link.handle].links %}
                  <li><a href="{{ link.url }}" class="{% if link.url == '#' %}url-deadlink{% endif %}" >{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</div>
