{% comment %}
** Image with text - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{%- assign id = object.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = object.blocks -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = object.settings.css_class -%}
{%- assign custom_css = object.settings.custom_css -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {{custom_css}}
{% endstyle %}
{% assign status = false %}
{% for block in section.blocks %}
    {% if block.type == 'collection' %}
        {% assign status = true %}
    {% endif %}
{% endfor %}
<section class="section {{ css_class }}
          {% if object.settings.wide_display == false %}
          is-width-standard
          {% else %}
          is-width-wide has-no-side-gutter
          {% endif %}
          {% if object.settings.featured_links_per_row == '2'%}
          is-flex is-flex-wrap
          {% endif %}
          {% if object.settings.carousel == true %}
            image-text-slider
          {% endif %}
          {% if object.settings.left_image_status %}
            image-text-left-image
          {% endif %}
          ">
      {% if blocks.size > 0 %}
        {% for block in blocks %}
          {% if block.type == 'image' %}
          <div class="container
          image-with-text-container has-no-side-gutter 
          section-{{ forloop.index }}
          featured_collections 
          {% if object.settings.carousel == true %}
            carousel-cell eleven-twelfths medium-down--one-whole 
          {% endif %}
          container--{{ block.id }}
          {% if object.settings.featured_links_per_row == '1' and object.settings.carousel == false %}
            {% if object.settings.frontpage_image_position == 'row' %}
            is-flex-{% cycle 'row', 'row-reverse' %}
            {% else %}
            is-flex-{% cycle 'row-reverse', 'row' %}
            {% endif %}
          {% elsif object.settings.featured_links_per_row == '2' %}
            one-half column medium-down--one-whole is-flex-{{ object.settings.frontpage_image_position }} has-no-side-gutter
          {% endif %}" {{ block.shopify_attributes }} >

            {% comment %} Content settings {% endcomment %}
            {%- assign image = block.settings.image -%}
            {% assign right_image = block.settings.right_image %}
            {% assign mobile_image = block.settings.mobile_image %}
            {% comment %} End content settings {% endcomment %}
            <div class="featured-link--half eight image-with-text__image-column is-align-center image-with-text__column medium-down--one-whole image-crop--{{ block.settings.image_crop }}">
              <div class="featured-link--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
                  {% if image != blank %}
                    {% include 'image-element',
                      image: image,
                      alt: image.alt,
                      stretch_width: true,
                      additional_classes: "medium-down--hide"
                    %}
                    {% include 'image-element',
                      image: mobile_image,
                      alt: image.alt,
                      stretch_width: true,
                      mobile_status: true,
                      additional_classes: "hide medium-down--show"
                    %}
                    {% if block.settings.caption != blank %}
                    <div class="caption-image">
                      {% include 'image-element',
                        image: block.settings.caption,
                        alt: block.settings.caption.alt,
                        stretch_width: true,
                        mobile_status: true
                      %}
                    </div>
                    {% endif %}
                    
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
                <div class="caption">
                  {{block.settings.caption_text}}
                  {% if block.settings.caption_button_text != blank %}
                    <a href="{{block.settings.caption_button_url}}" target="_blank" class="button border">{{block.settings.caption_button_text}}</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if block.settings.right_image != blank %}
              {% assign cls = 'six' %}
              {% assign left_cls = 'two' %}
            {% else %}
              {% assign cls = 'eight' %}
            {% endif %}
            <div class="featured-link--half {{cls}} {% if status %}medium-down--hide{% endif %} image-with-text__text-column is-flex is-align-center image-with-text__column medium-down--one-whole block--{{ block.id }}">
              <div class="info text-align--{{ object.settings.frontpage_text_align }}">
                {% if block.settings.icon != blank and block.settings.icon_position == 'top' %}
                  {{ block.settings.icon }}
                {% endif %}
                {% if block.settings.title != blank %}
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  {{ block.settings.title | escape }}
                </a>
                {% endif %}
               
                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.icon != blank and block.settings.icon_position == 'bottom' %}
                  {{ block.settings.icon }}
                {% endif %}
                <div class="button-bar button_align--{{block.settings.button_align}}">
                  {% if block.settings.button_primary_label != blank %}
                    <a {% if block.settings.link_primary != blank %}href="{{ block.settings.link_primary }}"{% endif %} class="button blue">
                      {{ block.settings.button_primary_label }}
                    </a>
                  {% endif %}
                  {% if block.settings.button_third_label != blank %}
                    {% if block.settings.third_popup %}
                    <a data-fancybox href="javascript:;" class="button blue modal-btn  medium-down--hide" data-src="{{block.settings.link_third}}">
                      <span class="medium-down--hide">{{ block.settings.button_third_label }}</span>
                      <span class="hide medium-down--show">{{block.settings.button_third_mobile_label}}</span>
                    </a>
                    {% else %}
                    <a {% if block.settings.link_third != blank %}href="{{ block.settings.link_third }}"{% endif %} class="button pink">
                      <span class="medium-down--hide">{{ block.settings.button_third_label }}</span>
                      <span class="hide medium-down--show">{{block.settings.button_third_mobile_label}}</span>
                    </a>
                    {% endif %}
                  {% endif %}
                  {% if block.settings.button_second_label != blank %}
                  {% if block.settings.second_popup %}
                  <a data-fancybox href="javascript:;" class="button blue modal-btn" data-src="{{block.settings.link_second}}">
                    <span class="medium-down--hide">{{ block.settings.button_second_label }}</span>
                    <span class="hide medium-down--show">{{block.settings.button_second_mobile_label}}</span>
                  </a>
                  {% else %}
                  <a {% if block.settings.link_second != blank %}href="{{ block.settings.link_second }}"{% endif %} class="button pink">
                    <span class="medium-down--hide">{{ block.settings.button_second_label }}</span>
                    <span class="hide medium-down--show">{{block.settings.button_second_mobile_label}}</span>
                  </a>
                  {% endif %}
                {% endif %}
                
                </div>
                
              </div>
            </div>
            {% if right_image != blank and object.settings.left_image_status %}
            <div class="featured-link--half medium-down--hide left_image image-with-text__image-column is-align-center image-with-text__column medium-down--one-whole image-crop--{{ block.settings.image_crop }}">
              <div class="featured-link--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
                  {% if right_image != blank %}
                    {% include 'image-element',
                      image: right_image,
                      alt: right_image.alt,
                      stretch_width: true
                    %}
                  {% endif %}
                </a>
              </div>
            </div>
            {% endif %}
            
          </div>
          {% endif %}
        {% endfor %}
        {% if status %}
          <div class="section featured-collection-slider container collection-blocks">
            {% for block in section.blocks %}
              {% if block.type == 'collection' %}
                <div class="one-fifth column carousel-cell is-align-center">
                  {% assign collection = collections[block.settings.collection] %}
                  <div class="collection-content">
                    <a href="{{collection.url}}">
                      <div class="image">
                        {%- capture srcset -%}
                          {{ block.settings.image | img_url: '300x'}} 800w,
                          {{ block.settings.image | img_url: '300x'}} 600w,
                          {{ block.settings.image | img_url: '300x'}} 200w,
                          {{ block.settings.image | img_url: '200x'}} 100w
                        {%- endcapture -%}
                        <div class="lazyload" data-bgset="{{ block.settings.image | img_url: '200x' }} 400w"
                            data-sizes="100vw" style="padding-top: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 | plus: 1}}%;background-size: cover;"></div>
                      </div>
                      <div class="detail center">
                        <p>{{block.settings.title}}</p>
                      </div>
                    </a>
                  </div>
                </div> 
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if status %}
        {% for block in blocks %}
          {% if block.type == 'image' %}
          <div class="image-with-text-container section-{{ forloop.index }} featured_collections {% if object.settings.carousel == true %} carousel-cell eleven-twelfths{% endif %} container--{{ block.id }}
          {% if object.settings.featured_links_per_row == '1' and object.settings.carousel == false %}
            {% if object.settings.frontpage_image_position == 'row' %}
            is-flex-{% cycle 'row', 'row-reverse' %}
            {% else %}
            is-flex-{% cycle 'row-reverse', 'row' %}
            {% endif %}
          {% elsif object.settings.featured_links_per_row == '2' %}
            one-half column medium-down--one-whole is-flex-{{ object.settings.frontpage_image_position }} has-no-side-gutter
          {% endif %}" {{ block.shopify_attributes }} >

            <div class="featured-link--half hide medium-down--visible column image-with-text__text-column is-flex is-align-center image-with-text__column medium-down--one-whole">
              <div class="info text-align--{{ object.settings.frontpage_text_align }}">
                {% if block.settings.icon != blank and block.settings.icon_position == 'top' %}
                  {{ block.settings.icon }}
                {% endif %}
                {% if block.settings.title != blank %}
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  {{ block.settings.title | escape }}
                </a>
                {% endif %}
                
                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.icon != blank and block.settings.icon_position == 'bottom' %}
                  {{ block.settings.icon }}
                {% endif %}
                {% if block.settings.button_primary_label != blank %}
                  <a {% if block.settings.link_primary != blank %}href="{{ block.settings.link_primary }}"{% endif %} class="button blue">
                    <span class="medium-down--hide">{{ block.settings.button_primary_label }}</span>
                    <span class="medium-down--show hide">{{block.settings.button_primary_mobile_label}}</span>
                  </a>
                {% endif %}
                {% if block.settings.button_second_label != blank %}
                  {% if block.settings.second_popup %}
                  <a data-fancybox href="javascript:;" class="button blue modal-btn" data-src="{{block.settings.link_second}}">
                    <span class="medium-down--hide">{{ block.settings.button_second_label }}</span>
                    <span class="hide medium-down--show">{{block.settings.button_second_mobile_label}}</span>
                  </a>
                  {% else %}
                  <a {% if block.settings.link_second != blank %}href="{{ block.settings.link_second }}"{% endif %} class="button pink">
                    <span class="medium-down--hide">{{ block.settings.button_second_label }}</span>
                    <span class="hide medium-down--show">{{block.settings.button_second_mobile_label}}</span>
                  </a>
                  {% endif %}
                {% endif %}
                {% if block.settings.button_third_label != blank %}
                  {% if block.settings.third_popup %}
                  <a data-fancybox href="javascript:;" class="button blue modal-btn  medium-down--hide" data-src="{{block.settings.link_third}}">
                    <span class="medium-down--hide">{{ block.settings.button_third_label }}</span>
                    <span class="hide medium-down--show">{{block.settings.button_third_mobile_label}}</span>
                  </a>
                  {% else %}
                  <a {% if block.settings.link_third != blank %}href="{{ block.settings.link_third }}"{% endif %} class="button pink">
                    <span class="medium-down--hide">{{ block.settings.button_third_label }}</span>
                    <span class="hide medium-down--show">{{block.settings.button_third_mobile_label}}</span>
                  </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        {% endif %}
        {% if section.settings.url != blank%}
          <a href="{{section.settings.url}}" class="button blue center caputalize light">view all</a>
        {% endif %}
        
      {% endif %}
</section>

{% style %}
  {% for block in blocks %}

    {% comment %} Is the color set to transparent? {% endcomment %}
    {%- assign bg_alpha = block.settings.bg_color | color_extract: 'alpha' -%}
    {%- assign text_alpha = block.settings.text_color | color_extract: 'alpha' -%}

    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title,
    .block--{{ block.id }} p {
      color: {% if text_alpha != 0 %}{{ block.settings.text_color }}{% else %}{{ settings.headline_color }}{% endif %};
    }
  {% endfor %}

  {% if object.settings.wide_display == false and object.settings.featured_links_per_row == '1' %}
    #shopify-section-{{ object.id }} .image-with-text-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 480px) {
      #shopify-section-{{ object.id }} .image-with-text-container {
        margin-bottom: 10%;
      }
    }

  {% elsif object.settings.wide_display == false and object.settings.featured_links_per_row == '2' %}
    @media only screen and (max-width: 480px) {
      #shopify-section-{{ object.id }} .image-with-text-container {
        margin-bottom: 10%;
      }
    }

  {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "Image with text",
  "class": "shopify-section--image-with-text",
  "max_blocks": 16,
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel",
      "label": "Carousel status"
    },
    {
      "type": "checkbox",
      "id": "left_image_status",
      "label": "Right side image"
    },
    {
      "type": "select",
      "id": "featured_links_per_row",
      "label": "Images per row",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_text_align",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_image_position",
      "label": "First image position",
      "info": "Subsequent images will appear staggered",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "row-reverse",
          "label": "Right"
        }
      ]
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "image_picker",
          "id": "caption",
          "label": "caption image"
        },
        {
          "type": "image_picker",
          "id": "right_image",
          "label": "Right image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "richtext",
          "id": "caption_text",
          "label": "Caption text"
        },
        {
          "type": "url",
          "id": "caption_button_url",
          "label": "Caption button url"
        },
        {
          "type": "text",
          "id": "caption_button_text",
          "label": "Caption button text"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "info": "Only applied when text area is taller than image.",
          "default": "none",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_primary_label",
          "label": "First Button label",
          "default": "View all"
        },
        {
          "type": "text",
          "id": "button_primary_mobile_label",
          "label": "First button Mobile label",
          "default": "News!"
        },
        {
          "type": "url",
          "id": "link_primary",
          "label": "First Button link"
        },
        {
          "type": "text",
          "id": "button_second_label",
          "label": "Second Button label",
          "default": "View all"
        },
        {
          "type": "text",
          "id": "button_second_mobile_label",
          "label": "Seconde button Mobile label",
          "default": "Tips"
        },
        {
          "type": "url",
          "id": "link_second",
          "label": "Second Button link"
        },
        {
          "type": "checkbox",
          "id": "second_popup",
          "label": "Second button is popup button?"
        },
        {
          "type": "text",
          "id": "button_third_label",
          "label": "Third Button label",
          "default": "View all"
        },
        {
          "type": "text",
          "id": "button_third_mobile_label",
          "label": "Third button Mobile label",
          "default": "Tips"
        },
        {
          "type": "url",
          "id": "link_third",
          "label": "Third Button link"
        },
        {
          "type": "checkbox",
          "id": "third_popup",
          "label": "Third button is popup button?"
        },
        {
          "type": "select",
          "id": "button_align",
          "label": "Button align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Featured image"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image with text",
    "category": "Image",
    "settings": {
      "featured_links_per_row": "1",
      "frontpage_text_align": "left"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
