{% comment %}
** Collection list - default view **
- Template
- Uses blocks
- This template can be viewed by going to /collections of the shop.
{% endcomment %}

{% if section.settings.image %}
  <section class="section is-width-wide has-no-side-gutter">
    <a name="pagecontent" id="pagecontent"></a>
    <div class="container">
      <div class="one-whole column">
        <header class="banner center page-banner dark-overlay-{{ section.settings.image_darken }} full-width--true">
          {% include 'image-element',
                  image: section.settings.image,
                  alt: section.settings.image.alt,
                  stretch_width: true,
                  progressive: true
          %}

          {% if section.settings.display_collection_title %}
            <div class="caption">
              <h1 class="headline">{{ 'collections.general.title' | t }}</h1>
            </div>
          {% endif %}
        </header>
      </div>
    </div>
  </section>
{% endif %}

<section class="section">
  {% if section.settings.image == blank %}
    <a name="pagecontent" id="pagecontent"></a>
  {% endif %}
  <div class="container">
      {%- assign collections_per_row = section.settings.collections_per_row -%}

      <div class="one-whole column">
        <div class="breadcrumb-collection">
          {% if section.settings.collection_breadcrumb %}
            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [
                  {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                      "@id": "{{ shop.url }}",
                      "name": "{{ 'general.breadcrumbs.home' | t }}"
                    }
                  },
                  {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                      "@id": "{{ routes.collections_url }}",
                      "name": "{{ 'collections.general.title' | t }}"
                    }
                  }
                ]
              }
            </script>

            <div class="breadcrumb_text">
              <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}" class="breadcrumb_link">
                <span>{{ 'general.breadcrumbs.home' | t }}</span>
              </a>

              <span class="breadcrumb-divider">/</span>

              <a href="{{ routes.collections_url }}" class="breadcrumb_link">
                <span>{{ 'collections.general.title' | t }}</span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>

      {% if section.settings.display_collection_title and section.settings.image == blank %}
        <div class="one-whole column">
          <h1>{{ 'collections.general.title' | t }}</h1>
        </div>
      {% endif %}

      <div class="one-whole column">
        <div class="feature_divider"></div>
      </div>

      <div class="content-wrapper is-flex is-flex-wrap">

        <div class="has-sidebar-option sidebar-enabled--false">
          <div class="container">
            <div class="one-whole column list-collections-wrapper">
              <div class="list-collections collection-matrix equal-columns--outside-trim is-flex is-flex-wrap">
                {% assign status = false %}
                {% for block in section.blocks %}
                  {% if block.type == 'collection_item' and block.settings.collection != blank %}
                    {% assign collection = collections[block.settings.collection] %}
                    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
                    <div class="{% include 'column-width', value: collections_per_row %} column thumbnail {% if settings.mobile_products_per_row == '1' %}medium-down--one-half small-down--one-whole{% else %}medium-down--one-half small-down--one-half{% endif %}">
                      <div class="product-wrap">
                        <div class="image__container">
                          {% if collection.image %}
                            {%- assign collection_image = collection.image.src -%}
                          {% else %}
                            {%- assign collection_image = collection.products.first.featured_image -%}
                          {% endif %}

                          {% include 'image-element',
                                  image: collection_image,
                                  alt: collection.title,
                                  large_status: true,
                                  object_fit: section.settings.align_height,
                                  max_height: section.settings.collection_height
                          %}
                        </div>

                        <a href="{{ collection.url }}" title="{{ collection_title }}" class="hidden-product-link">{{ collection_title }}</a>

                        {% if settings.thumbnail_hover_enabled %}
                          <div class="thumbnail-overlay">
                            <a href="{{ collection.url }}" title="{{ collection_title }}" class="hidden-product-link">{{ collection_title }}</a>

                            <div class="info">
                              <div class="collection-details">
                                <span class="title">{{ collection.title }}</span>
                              </div>

                              <a href="{{ collection.url }}" title="{{ collection_title }}">
                                <span class="view_all">{{ 'collections.general.view_all' | t }}</span>
                              </a>
                            </div>
                          </div>
                        {% endif %}

                        <a class="collection-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ collection.url }}">
                          <span class="title">{{ collection.title }}</span>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                  
                {% endfor %}

                {% if settings.pagination_type == 'basic_pagination' %}
                {% else %}
                  {% if paginate.next.url %}
                    <span class="js-load-more load-more">
                      <a href="{{ paginate.next.url }}" data-no-instant class="load-more__btn action_button continue-button">{{ 'collections.general.load_more_collections' | t }}</a>
                    </span>
                  {% endif %}
                {% endif %}
              </div>

              <div class="load-more__icon"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

{% if section.settings.align_height %}
  <style>
    .list-collections .thumbnail img {
      max-height: {{ section.settings.collection_height }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Collections",
    "class": "shopify-section--collection-template",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner image",
        "info": "1600 x 1000px recommended"
      },
      {
        "type": "checkbox",
        "id": "image_darken",
        "label": "Darken banner image",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "collection_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_collection_title",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "align_height",
        "label": "Align height of collection images"
      },
      {
        "type": "range",
        "id": "collection_height",
        "label": "Collection image height",
        "min": 150,
        "max": 400,
        "step": 10,
        "default": 200,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "collections_per_row",
        "label": "Collections per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Collections per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 18
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create a sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "collection_item",
        "name": "collection item",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
