{% comment %}
** FAQ page - custom view **
- Page template
- Uses blocks
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for block in section.blocks %}
        {% unless block.type == 'heading' %}
          {
            "@type": "Question",
            "name": "{{ block.settings.title | escape }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ block.settings.subtitle | strip_html | escape }}"
            }
          }{% unless forloop.last %},{% endunless %}
        {% endunless %}
      {% endfor %}
    ]
  }
</script>

{% if section.settings.show_banner %}
  <section class="section {% if section.settings.wide_display == true %}is-width-wide has-no-side-gutter{% endif %}">
    <a name="pagecontent" id="pagecontent"></a>
    <div class="container">
      <div class="one-whole column">
        <div id="banner-{{ section.id }}" class="banner page-banner dark-overlay-{{ section.settings.image_darken }} full-width--{{ section.settings.wide_display }}">
          {% if section.settings.image != blank %}
            {% include 'image-element',
                    image: section.settings.image,
                    alt: section.settings.image.alt,
                    stretch_width: true,
                    additional_classes: 'medium-down--hide'
            %}
            {% include 'image-element',
                    image: section.settings.mobile_image,
                    alt: section.settings.mobile_image.alt,
                    stretch_width: true,
                    additional_classes: 'hide medium-down--show'
            %}
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
          {% endif %}

          
          {% unless section.settings.pretext == blank and section.settings.title == blank and section.settings.subtitle == blank and section.settings.button1 == blank and section.settings.button2 == blank %}
            <div class="position-{{ section.settings.text_position }} caption js-caption">
              <div class="caption-content caption-background-{{ section.settings.caption_background }} caption-transparency-{{ section.settings.caption_background_transparency }} align-{{ section.settings.text_align }}">
                {% if section.settings.pretext != blank %}
                  <div class="pretext">
                    {{ section.settings.pretext }}
                  </div>
                {% endif %}

                {% if section.settings.title != blank %}
                  <h1 class="headline">{{ section.settings.title }}</h1>
                {% endif %}
              </div>
            </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

<section class="section">
  {% if section.settings.show_banner == blank %}
    <a name="pagecontent" id="pagecontent"></a>
  {% endif %}
  <div class="container main  medium-down--has-no-side-gutter content is-justify-center">
    <div class="one-whole column page">
      {% unless section.settings.image != blank or section.settings.show_banner %}
        <h1>{{ page.title }}</h1>
        <div class="feature_divider"></div>
      {% endunless %}

      {% include 'page-multi-column', content: page.content %}
    </div>
    {% if section.settings.subtitle != blank %}
    <div class="alert one-whole medium-down--one-whole column flex is-justify-center is-align-center gap has-padding">
      {% include 'icon-pack' with icon:"exclamation" %}
      {{ section.settings.subtitle }}
    </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
          {%- assign image = true -%}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="two-thirds column medium-down--one-whole faq faq__column-1">
      <div class="bottom-content">
        {% render 'popup-email' %}
      </div>
      {% if section.blocks.size > 0 %}
        <dl class="faqAccordion">
          {% for block in section.blocks %}
            {% if block.type == "heading" %}
              {% if block.settings.heading != blank %}
                <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
              {% endif %}
            {% endif %}

            {% if block.settings.title != blank %}
              <dt>
                <button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button>
              </dt>

              <dd id="panel-01" aria-hidden="false">
                {{ block.settings.subtitle }}
              </dd>
            {% endif %}
          {% endfor %}
        </dl>
      {% endif %}
    </div>
  </div>

  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'image' %}
        <div class="one-half column medium-down--one-whole faq faq--image faq__column-2">
          {% if block.settings.image != blank %}
            {% include 'image-element',
                    image: block.settings.image,
                    alt: block.settings.image.alt,
                    stretch_width: true
            %}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</section>
{% include 'include-divider'%}
{% schema %}
{
  "name": "Page | faq",
  "class": "shopify-section--page-faq-template",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show banner",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "richtext",
      "id": "pretext",
      "label": "Preheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "page info"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "divider"
    },
    {
      "type": "paragraph",
      "content": "Add spacing in between your sections by using a divider."
    },
    {
      "type": "range",
      "id": "divider_spacing",
      "min": 0,
      "max": 30,
      "step": 5,
      "unit": "px",
      "label": "Space",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "divider_border",
      "label": "Show border",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Question"
        }
      ]
    },
    {
      "name": "Frequently Asked Question",
      "type": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Answer",
          "default": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1000 x 1000px recommended"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "title": "Page FAQ Template",
      "subtitle": "<p>Create an amazing FAQ page with a full-width banner</p>",
      "text_position": "center",
      "text_align": "center"
    },
    "blocks": [
      {
        "type": "heading",
        "settings": {
          "heading": "Section"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "Title",
          "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "Title",
          "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "Title",
          "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      },
      {
        "type": "heading",
        "settings": {
          "heading": "Section"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "Title",
          "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "Title",
          "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "Title",
          "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
        }
      }
    ]
  }
}
{% endschema %}
